<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <title>HomePage</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="first-div">
            <div class="nav-title-container">
                <h1>Trout Heaven</h1>
            </div>
            <button class="hamburgher">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="second-div">
            <ul class="nav-list-headers">
                <li class="nav-single-header"><a href="./welcome.html">Home</a></li>
                <li class="nav-single-header"><a href="">Negozio</a></li>
                <li class="nav-single-header"><a href="">Info</a></li>
                <li class="nav-single-header"><a href="">Cronologia</a></li>
            </ul>
        </div>
    </nav>
    <script src="../js/nav-bar.js"></script>
</body>
</html>