<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <title>HomePage</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="first-div">
            <div class="nav-title-container">
                <h1>Trout Heaven</h1>
            </div>
            <button class="hamburgher">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="second-div">
            <ul class="nav-list-headers">
                <li class="nav-single-header"><a href="#">Download</a></li>
                <li class="nav-single-header"><a href="#">Login</a></li>
                <li class="nav-single-header"><a href="./registration.html">Registration</a></li>
            </ul>
        </div>
    </nav>
    <div class="what-is-div">
        <h1>What is?</h1>
        <div class="text-container">
            <p><b>Trout Heaven</b> is a video game where the user has the goal of catching as many fish as possible</p>
            <p>and gradually climbing the game rankings, each fish caught will give the player a score which in turn will vary according to the rarity of the fish caught</p>
        </div>
    </div>
    <div class="what-is-div how-to-play-div">
        <h1>How to play</h1>
        <div class="text-container">
            <p>To start playing you must have an account, if you don't have it don't worry!, you can create it</p>
            <p> in any moment <a href="./registration.html">here</a></p>
        </div>
    </div>
    <h2 id="copyright">© 2022 Vincenzo Caliendo. All rights reserved.</h2>
    <script src="../js/homepage.js"></script>
</body>
</html>