<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="first-div">
            <div class="nav-title-container">
                <h1>Trout Heaven</h1>
            </div>
            <button class="hamburgher">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="second-div">
            <ul class="nav-list-headers">
                <li class="nav-single-header"><a href="./welcome.html">Home</a></li>
                <li class="nav-single-header"><a href="./registration.html">Registration</a></li>
            </ul>
        </div>
    </nav>
    <div class="login_box">
        <h2 id="title_login_box">LOGIN</h2>
        <input type="text" id="email_input" placeholder="email@gmail.com" maxlength="45" class="text-box">
        <input type="password" id="pwd_input" placeholder="**********" maxlength="30" class="text-box">
        <button id="login_btn">Login</button>
    </div>
    <div id="error_text_div">
        <h6 id="error_text"></h6>
    </div>
    <script src="../js/nav-bar.js"></script>
    <script src="../js/login.js"></script>
</body>